/*LAYOUT STYLES*/
* {
    font-family: "Poppins", sans-serif;
 }

html, body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #ffffff;
    min-width: 996px; 
    font-weight: 300;
}

body {
    line-height: 21px;
    font-size: 14px;
    color: #d10909;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    color:#d45333;
    margin: 0 0 13px 0;
    font-weight: normal;
}

.span1, .span2, .span3, .span4, .span5 {
    display: block;
    float: left;
    margin: 0 15px;
}

input {
    height: 24px;
    font-size: 100%;
    margin: 0;
    vertical-align: top;
    line-height: normal;
    padding: 4px;
    display: inline-block;
    border-radius: 1px;
}

input[type=text]:focus {
    outline: none;
}

/*FLEXBOXES*/

.flex-container-1, .flex-container-2, .flex-container-3 {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: #6ea094;
    border-radius: 30px;
    justify-content: space-evenly;
    align-items: top;
    zoom: 1;
    }

.flex-container-1 > img, .flex-container-2 > img, .flex-container-3 > img {
    margin: 7px;
    border-radius: 30px; 
    min-height: 100%;   
    min-width: 0; /*fixes horizontal overflow*/
    zoom: 1;
    }


img {max-width: 100%;}

ul, ol {
    margin: 0 0 20px 20px;
    padding: 0;
}

ul {
    list-style: disc outside none; 
}

li {
    text-align:center;
}
  
/*PAGE CONTENT*/

/*HEADER*/

.wrapper {
    width: 996px;
    margin: 0 auto;
    padding: 0;
    overflow: auto;
}

header.primary {
    height: 135px;
    margin-top: 20px;
    display: block;
    z-index: 1000;
    }

header.primary #tag {
    text-align: center;
    color: #d45333;
    text-transform: uppercase;
    position: relative;
    left: 10px; 
}

ul#top{
    text-align: center;
    margin-top: 35px;
    color: #d45333;
    text-transform: uppercase;
    position: relative;
    left: 10px;
}

.span1 {
    width: 219px;
}

li.search-field{
    float: left;
    height: 24px;
    line-height: 24px;
    position: relative;
    font-size: 11px;
    list-style-type: none;
}

form {
    margin: 0;
    padding: 0;
}

input.search_box {
    border: none;
    box-shadow: none;
    color: #000;
    line-height: 14px!important;
    font-size: 12px!important;
    width: 130px;
    border-bottom: #000 1px solid;
    padding-bottom: 2px;
    text-transform: uppercase!important;
    padding-top: 4px;  
    letter-spacing: 2px!important;
    text-align: center;
}

input[type=checkbox] {
    height: 16px;
    line-height: 16px;
    vertical-align: middle;
    }

.search-field .search_box {
    border: none;
    box-shadow: none;
    color: #000;
    line-height: 14px!important;
    font-size: 12px!important;
    width: 130px;
    border-bottom: #000 1px solid;        padding-bottom: 2px;
    text-transform: uppercase!important;
    padding-top: 4px;
    letter-spacing: 2px!important;
    text-align: center;
}

.span2 {
    width: 468px;
    /*place logo behind h1 in another div     background-image: url(images/Email-hallmark.jpg);
    background-repeat: no-repeat;
    background-position: center; */
}

h1 {
    font-size: 44px;
    font-weight: 200;
    max-width: 350px;
    height: 93px;
    display: block;
    margin: 43px auto;
    margin-bottom: 0;
    text-align: center;
    letter-spacing: 2px!important;
}

header.primary #logo {
    height: 75px;
    text-align: center;
    margin-top: 14px;
}

/*NAVBAR*/
    
#nav {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /*this stops navbar cutting through filtered images*/
}
#nav {
    min-width: 996px;
    height: 50px;
    border-bottom: 1px #fff solid;
    letter-spacing: 2px;
    background-color: #924c1b;
    color: rgba(248, 237, 223, 0.993);
}

.bg-nav-wrapper::before {
    display: block;
    height: 20px;  
}

.span3 {
    width: 966px;
    overflow-x: hidden;
}

.clearfix-wrapper {
    width: 996px;
    margin: 0;
    overflow: auto;
    text-align: center;
    padding-top: 15px; 
}

ul.clearfix-wrapper {
    margin: 0;
    list-style: none outside none;
}

#nav li {
    width: 130px; 
}

#nav ul li {
    float: none!important;
    display: inline-block!important;
}

.photogrid {
    margin-top: 33px;
}

.fas .fa {
    display: inline-block;
    line-height: 1;
}

a {
    text-decoration: none;
    outline: 0;
}

/*IMAGES*/

#logo {
    min-height: 55px;
}
#corana-rings {
    filter: none;
}
#praying-for-rain {
    filter: brightness(1.23);
}
#more-rain {
    filter: none;
}
#claw {
    filter: brightness(1.25);
}
#asteroid {
    filter: brightness(1.01);
}
#good-day-full {
    filter: brightness(1.05);
}
#maquettes {
    filter: brightness(1.05);
}
#agd-crop {
    filter: brightness(1.15);
}
#ceramics-1 {
    filter: grayscale(90%);
}
#ceramics-2 {
    filter: grayscale(90%);
}
#ceramics-3 {
    filter: none;
}

/*FOOTER*/

.footer-wrapper {
    min-width: 996px;
    background-color: #924c1b;
    width: 100%;
    margin-top: 133px;
}

#footer {
    text-align: center;
    position: relative;
    padding-top: 20px;
    font-size: 12px;
    width: 996px;
    margin: 0 auto;
}

/*MOBILE*/

.modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
}

.modal-open {
    overflow: hidden;
}

.modal label {
    cursor: pointer;
    margin-bottom: 0;
}

.modal .modal-trigger {
    color: rgba(248, 237, 223, 0.993);
    text-align: right;
}

.modal .mobile-brand {
    margin: 17px auto;
    float: none;
}

.modal .modal-state {
    display: none;
}

.modal h1 {
    display: block;
    max-width: 110px;
    height: auto;
}

.modal .modal-fade-screen {
    transition: opacity .25s ease;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    text-align: left;
    visibility: hidden;
    z-index: 99999999999;
}

.modal .modal-state:checked+.modal-fade-screen {
    opacity: 1;
    visibility: visible;
}

.modal .modal-inner {
    transition: opacity .25s ease;
    background: #924c1b;
    margin-top: 0;
    margin: auto;
    height: 100%;
    top: 0!important;
    overflow: auto;
    position: relative;
}

.modal .modal-close {
    position: absolute;
    top: 24px;
    left: 19px;
    font-size: 31px;
    color: #000;
    cursor: pointer;
}

.mobile-bar {
    overflow: auto;
    background-color: #924c1b;
}

#mob-search {
    padding-left: 42px;
}




/*MEDIA*/

@media only screen and (max-width: 690px) {
    body {
        min-width: 90%;
        width: 90%;
        padding: 0 5%;
    }
}

@media only screen and (max-width: 690px) {
    .mobile-element {
        display: block;
    }
}

@media only screen and (max-width: 667px) {
    .mobile-element .home-list {
        display: none;
    }
}

@media only screen and (max-width: 690px) {
    h1 {
        font-size: 20%;
    }
}

@media only screen and (max-width: 690px) {
    #nav > ul > li.dropdown > .dropdown {
        min-width: 996px
    }
}

@media only screen and (max-width: 690px) {
    #footer #social-links .mobile-footer #social-links-footer a {
        margin: 0 5px;
    }
}

@media only screen and (max-width: 690px) {
    .search-field {
        width: 60%!important;
        height: 35px!important;
        margin-left: 53px;
        font-size: 16px!important;
        line-height: 18px!important;
    }
}

@media only screen and (max-width: 690px) {
    .mobile-bar .mobile-nav-section:first-of-type {
        padding-left: 20px;
    }
}

@media only screen and (max-width: 690px) {
    .mobile-bar .mobile-nav-section {
        display: table-cell;
        vertical-align: middle;
        width: 33%;
    }
}

@media only screen and (max-width: 690px) {
    .modal .modal-fade-screen {
        top: 75px;
    }
}

@media only screen and (max-width: 690px) {
    .menu-list {
        display: block;
    }
}

@media only screen and (max-width: 690px) {
    .menu-list .list-brand {
        width: 110px!important;
        height: auto!important;
        margin: 17px auto;
        float: none!important;
        display: block;
    }
}

@media only screen and (max-width: 690px) {
    .menu-list ul {
        list-style-type: none;
        padding: 0;
        margin: 40px 0 0 0;
    }
}

@media only screen and (max-width: 690px) {
    .menu-list ul li {
        text-align: center;
        margin: 18px 0;
    }
}

@media only screen and (max-width: 667px) {
    .menu-list ul li.search-field {
        padding-left: 0!important;
    }
}

@media only screen and (max-width: 690px) {
    .menu-list ul li.search-field .search .search_box {
        width: 60%;
        height: 28px;
        color: #333!important;
        border-radius: 1px;
        background-color: #924c1b!important;
        font-size: 18px!important;
        text-transform: uppercase!important;
        border-bottom: #000 1px solid;
    }
}

@media only screen and (max-width: 690px) {
    .index-wrapper .mobile-element .home-list {
        margin-top: 69px;
        display: block;
    }
}

@media only screen and (max-width: 690px) {
    .index-wrapper .mobile-element .home-list img {
        width: 100%;
        max-width: 340px;
        display: block;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 690px) {
    .photogrid-container, .photogrid-2-container, .photogrid-3-container, .footer-wrapper, .primary, nav.main {
        display: none!important;
    }
}

@media only screen and (max-width: 690px) {
    .bg-nav-wrapper {
        display: none;
    }
}

@media only screen and (max-width: 690px) {
    #nav, .wrapper, footer {
        width: 100%!important;
        margin: 0;
    }
}