/*LAYOUT STYLES*/
* {
    font-family: "Poppins", sans-serif;
 }

html, body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #ffffff;
    min-width: 996px; 
    font-weight: 300;
}

body {
    line-height: 21px;
    font-size: 14px;
    color: #d10909;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    color:#d45333;
    margin: 0 0 13px 0;
    font-weight: normal;
}

.span1, .span2, .span3, .span4, .span5 {
    display: block;
    float: left;
    margin: 0 15px;
}

input {
    height: 24px;
    font-size: 100%;
    margin: 0;
    vertical-align: top;
    line-height: normal;
    padding: 4px;
    display: inline-block;
    border-radius: 1px;
}

input[type=text]:focus {
    outline: none;
}

/*FLEXBOXES*/

.flex-container-1 {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: #6ea094;
    border-radius: 30px;
    justify-content: space-evenly;
    align-items: top;
    }

.flex-container-1 > img {
    margin: 7px;
    border-radius: 30px; 
    min-height: 100%;   
    min-width: 0; /*fixes horizontal overflow*/
    }

.flex-container-2 {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: #6ea094;
    border-radius: 30px;
    justify-content: space-evenly;
    align-items: top;
    }

.flex-container-2 > img {
    margin: 7px;
    border-radius: 30px; 
    min-height: 100%;   
    min-width: 0; /*fixes horizontal overflow*/
    }

.flex-container-3 {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: #6ea094;
    border-radius: 30px;
    justify-content: space-evenly;
    align-items: top;
    }

.flex-container-3 > img {
    margin: 7px;
    border-radius: 30px; 
    min-height: 100%;   
    min-width: 0; /*fixes horizontal overflow*/
    }

img {max-width: 100%;}

ul {
    margin: 0 0 20px 20px;
    padding: 0;
}

li {
    text-align:center;
}
  
/*PAGE CONTENT*/

/*HEADER*/

.wrapper {
    width: 996px;
    margin: 0 auto;
    padding: 0;
    overflow: auto;
}

header.primary {
    height: 135px;
    margin-top: 20px;
    display: block;
    z-index: 1000;
    }

header.primary #tag {
    text-align: center;
    color: #d45333;
    text-transform: uppercase;
    position: relative;
    left: 10px; 
}

ul#top{
    text-align: center;
    margin-top: 35px;
    color: #d45333;
    text-transform: uppercase;
    position: relative;
    left: 10px;
}

.span1 {
    width: 219px;
}

li.search-field{
    float: left;
    height: 24px;
    line-height: 24px;
    position: relative;
    font-size: 11px;
    list-style-type: none;
}

form {
    margin: 0;
    padding: 0;
}

input.search_box {
    border: none;
    box-shadow: none;
    color: #000;
    line-height: 14px!important;
    font-size: 12px!important;
    width: 130px;
    border-bottom: #000 1px solid;
    padding-bottom: 2px;
    text-transform: uppercase!important;
    padding-top: 4px;  
    letter-spacing: 2px!important;
    text-align: center;
}

.span2 {
    width: 468px;
    /*place logo behind h1 in another div     background-image: url(images/Email-hallmark.jpg);
    background-repeat: no-repeat;
    background-position: center; */
}

h1 {
    font-size: 44px;
    font-weight: 200;
    max-width: 350px;
    height: 93px;
    display: block;
    margin: 43px auto;
    margin-bottom: 0;
    text-align: center;
    letter-spacing: 2px!important;
}

header.primary #logo {
    height: 75px;
    text-align: center;
    margin-top: 14px;
}

/*NAVBAR*/
    
#nav {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /*this stops navbar cutting through filtered images*/
}
#nav {
    min-width: 996px;
    height: 50px;
    border-bottom: 1px #fff solid;
    letter-spacing: 2px;
    background-color: #924c1b;
    color: rgba(248, 237, 223, 0.993);
}

.bg-nav-wrapper::before {
    display: block;
    height: 20px;  
}

.span3 {
    width: 966px;
    overflow-x: hidden;
}

.clearfix-wrapper {
    width: 996px;
    margin: 0;
    overflow: auto;
    text-align: center;
    padding-top: 15px; 
}

ul.clearfix-wrapper {
    margin: 0;
    list-style: none outside none;
}

#nav li {
    width: 130px; 
}

#nav ul li {
    float: none!important;
    display: inline-block!important;
}

.photogrid {
    margin-top: 33px;
}

/*IMAGES*/

#logo {
    min-height: 55px;
}
#corana-rings {
    filter: none;
}
#praying-for-rain {
    filter: brightness(1.23);
}
#more-rain {
    filter: none;
}
#claw {
    filter: brightness(1.25);
}
#asteroid {
    filter: brightness(1.01);
}
#good-day-full {
    filter: brightness(1.05);
}
#maquettes {
    filter: brightness(1.05);
}
#agd-crop {
    filter: brightness(1.15);
}
#ceramics-1 {
    filter: grayscale(90%);
}
#ceramics-2 {
    filter: grayscale(90%);
}
#ceramics-3 {
    filter: none;
}

/*FOOTER*/

.footer-wrapper {
    min-width: 996px;
    background-color: #924c1b;
    width: 100%;
    margin-top: 133px;
}

#footer {
    text-align: center;
    position: relative;
    padding-top: 20px;
    font-size: 12px;
    width: 996px;
    margin: 0 auto;
}